{% extends 'core/base.html' %}

{% load static %}

{% block title %}Concursos{% endblock %}

{% block content %}
    <section id="banner-single-page" class="eventos-banner" style="padding: 0px;background-image: url(&quot;assets/img/Agrimensura%201.jpg&quot;);background-repeat: no-repeat;background-size: cover;background-position: 50% 50%;">
        <div class="container" style="background-size: cover;background-repeat: no-repeat;">
            <div class="jumbotron evento" style="background-color: rgba(233,236,239,0.48);">
                <h1>Concursos</h1>
            </div>
        </div>
    </section>
    <section id="contenido" class="contenido">
        <div class="container" id="concursos-novedades">
            <div class="row">
                <div class="col-md-4">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link active concursos-navbar" href="#">Normativa Concursos Ingeniería</a></li>
                        <li class="nav-item"><a class="nav-link concursos-navbar" href="#">Novedades</a></li>
                        <li class="nav-item"><a class="nav-link concursos-navbar" href="#">Concursos Docentes</a></li>
                        <li class="nav-item"><a class="nav-link concursos-navbar" href="#">Formulario de solicitud de cargos</a></li>
                        <li class="nav-item"><a class="nav-link concursos-navbar" href="{% url 'reporte_personas_pdf' %}">Reglamentaciones Docentes</a></li>
                    </ul>
                </div>
                <div class="col-md-8 sidebar-right"></div>
            </div>
        </div>
        <div class="container contenido-evento" id="sociales-evento">
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-start align-items-xl-center">
                    <p class="texto-15">Compartir este evento<i class="fa fa-long-arrow-right" style="margin-left: 6px;"></i></p>
                </div>
                <div class="col-lg-8 social-icons"><a href="#"><i class="icon ion-social-twitter"></i><i class="icon ion-social-instagram-outline"></i><i class="icon ion-social-googleplus"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a></div>
            </div>
        </div>
    </section>
    {% endblock %}