<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Template Final Ingeniería</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/-Filterable-Cards-.css">
    <link rel="stylesheet" href="assets/css/Concursos.css">
    <link rel="stylesheet" href="assets/css/Corporate-Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="assets/css/user-home.css">
    <link rel="stylesheet" href="assets/css/user-landing.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" id="navbar">
        <div class="container-fluid"><a class="navbar-brand" href="index.html">Ingeniería UNS</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">institucional</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Historia</a><a class="dropdown-item" role="presentation" href="#">Estructura</a><a class="dropdown-item" role="presentation" href="#">Comisiones Curriculares</a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">académicas</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Oferta Académica</a><a class="dropdown-item" role="presentation" href="#">Cursos</a><a class="dropdown-item" role="presentation" href="#">Posgrado</a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">investigación y extensión</a>
                        <div class="dropdown-menu" role="menu">
                            <h6 class="dropdown-header" role="presentation">Investigación</h6>
                            <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="#">Grupos de Investigación</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a>
                            <div
                                class="dropdown-divider" role="presentation"></div>
                        <h6 class="dropdown-header" role="presentation">Extensión</h6><a class="dropdown-item" role="presentation" href="#">Convenios</a>
                        <div class="dropdown-divider" role="presentation"></div>
            </div>
            </li>
            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">concursos</a>
                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="concursos-llamados-a-inscripcion.html">Llamados a Inscripción</a><a class="dropdown-item" role="presentation" href="#">Información de Concursos</a><a class="dropdown-item" role="presentation"
                        href="#">Concursos Finalizados</a>
                    <h6 class="dropdown-header" role="presentation">Reglamentaciones Docentes</h6>
                    <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="#">Profesores</a><a class="dropdown-item" role="presentation" href="#">Asistentes y Ayudantes</a><a class="dropdown-item" role="presentation" href="#">Contratos y Asignaciones complementarias</a>
                    <div
                        class="dropdown-divider" role="presentation"></div>
                <h6 class="dropdown-header" role="presentation">Extensión</h6><a class="dropdown-item" role="presentation" href="https://docs.google.com/forms/d/e/1FAIpQLSd3EeCQsPzn5dcz37u0_D-xhaXx8AoezwMZifqzqct1yoJlNQ/viewform?fbzx=-367663141885583487">Solicitud de Fojas de Servicio</a>
                <div class="dropdown-divider"
                    role="presentation"></div>
        </div>
        </li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="eventos.html">eventos</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Alumnos</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link">docentes</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="#">intranet</a></li>
        </ul>
        </div>
        </div>
    </nav>
    <section id="banner-single-page" class="eventos-banner" style="padding: 0px;background-image: url(&quot;assets/img/Agrimensura%201.jpg&quot;);background-repeat: no-repeat;background-size: cover;background-position: 50% 50%;">
        <div class="container" style="background-size: cover;background-repeat: no-repeat;">
            <div class="jumbotron evento" style="background-color: rgba(233,236,239,0.48);">
                <h1>Concursos</h1>
            </div>
        </div>
    </section>
    <section id="contenido" class="contenido">
        <div class="container" id="concursos-novedades">
            <div class="row">
                <div class="col-md-4">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link active concursos-navbar" href="concursos-llamados-a-inscripcion.html">Convocatorias&nbsp;</a></li>
                        <li class="nav-item"><a class="nav-link concursos-navbar" href="https://servicios.uns.edu.ar/concursos/llamados.asp?tipollamado=D" target="_blank">Concursos Docentes</a></li>
                        <li class="nav-item"><a class="nav-link concursos-navbar" href="concursos-informacion.html">Información de Concursos</a></li>
                        <li class="nav-item"><a class="nav-link concursos-navbar" href="#">Normativa Concursos Ingeniería</a></li>
                        <li class="nav-item"><a class="nav-link concursos-navbar" href="#">Novedades</a></li>
                        <li class="nav-item"><a class="nav-link concursos-navbar" href="https://st02.uns.edu.ar/contenidos/documentos/6_AP_2541.doc" target="_blank">Formulario de solicitud de cargos</a></li>
                        <li class="nav-item"><a class="nav-link concursos-navbar" href="#">Reglamentaciones Docentes</a></li>
                    </ul>
                </div>
                <div class="col-md-8 sidebar-right">
                    <h2 class="title-item-concurso">Información de Concursos</h2>
                    <div role="tablist" id="accordion-info-concursos" class="accordion">
                        <div class="card">
                            <div class="card-header" role="tab">
                                <h3 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-info-concursos .item-1" href="#accordion-info-concursos .item-1">¿Que es el concurso público, abierto de antencendentes y oposición?</a></h3>
                            </div>
                            <div class="collapse item-1" role="tabpanel" data-parent="#accordion-info-concursos">
                                <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla felis fermentum, maximus erat ac, dapibus libero. Quisque ultrices vulputate sodales. Integer quis dui ligula. Sed condimentum leo mollis leo
                                        placerat, consectetur pulvinar leo varius. Sed fermentum mi placerat finibus fermentum. Aliquam erat volutpat. Pellentesque lorem lacus, mollis sit amet felis ut, cursus hendrerit massa. Pellentesque pulvinar tristique
                                        auctor. Vestibulum finibus nisi ligula, a mollis elit volutpat ut. Vivamus id ultrices dui. Sed non nibh id erat laoreet tincidunt. Vestibulum ac felis mattis nunc porta semper at nec ex. Pellentesque fermentum
                                        ipsum eleifend ex dignissim lobortis sit amet vitae enim. Proin sit amet odio porttitor sapien ullamcorper elementum ullamcorper at lorem.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab">
                                <h3 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-info-concursos .item-2" href="#accordion-info-concursos .item-2">¿Que es el concurso público, abierto de antencendentes y oposición?</a></h3>
                            </div>
                            <div class="collapse item-2" role="tabpanel" data-parent="#accordion-info-concursos">
                                <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla felis fermentum, maximus erat ac, dapibus libero. Quisque ultrices vulputate sodales. Integer quis dui ligula. Sed condimentum leo mollis leo
                                        placerat, consectetur pulvinar leo varius. Sed fermentum mi placerat finibus fermentum. Aliquam erat volutpat. Pellentesque lorem lacus, mollis sit amet felis ut, cursus hendrerit massa. Pellentesque pulvinar tristique
                                        auctor. Vestibulum finibus nisi ligula, a mollis elit volutpat ut. Vivamus id ultrices dui. Sed non nibh id erat laoreet tincidunt. Vestibulum ac felis mattis nunc porta semper at nec ex. Pellentesque fermentum
                                        ipsum eleifend ex dignissim lobortis sit amet vitae enim. Proin sit amet odio porttitor sapien ullamcorper elementum ullamcorper at lorem.<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab">
                                <h3 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-info-concursos .item-3" href="#accordion-info-concursos .item-3">¿Como me inscribo?<br></a></h3>
                            </div>
                            <div class="collapse item-3" role="tabpanel" data-parent="#accordion-info-concursos">
                                <div class="card-body">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla felis fermentum, maximus erat ac, dapibus libero. Quisque ultrices vulputate sodales. Integer quis dui ligula. Sed condimentum leo mollis leo
                                        placerat, consectetur pulvinar leo varius. Sed fermentum mi placerat finibus fermentum. Aliquam erat volutpat. Pellentesque lorem lacus, mollis sit amet felis ut, cursus hendrerit massa. Pellentesque pulvinar tristique
                                        auctor. Vestibulum finibus nisi ligula, a mollis elit volutpat ut. Vivamus id ultrices dui. Sed non nibh id erat laoreet tincidunt. Vestibulum ac felis mattis nunc porta semper at nec ex. Pellentesque fermentum
                                        ipsum eleifend ex dignissim lobortis sit amet vitae enim. Proin sit amet odio porttitor sapien ullamcorper elementum ullamcorper at lorem.<br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container contenido-evento" id="sociales-evento">
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-start align-items-xl-center">
                    <p class="texto-15">Compartir este evento<i class="fa fa-long-arrow-right" style="margin-left: 6px;"></i></p>
                </div>
                <div class="col-lg-8 social-icons"><a href="#"><i class="icon ion-social-twitter"></i><i class="icon ion-social-instagram-outline"></i><i class="icon ion-social-googleplus"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a></div>
            </div>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3">
                    <h4>Lorem Ipsum dolor</h4>
                    <ul class="footer-links">
                        <li><a href="#">Consectetur adipiscing</a></li>
                        <li><a href="#">Facilisis vulputate est eget</a></li>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h4>Sed elit eros</h4>
                    <ul class="footer-links">
                        <li><a href="#">Aenean condimentum viverra</a></li>
                        <li><a href="#">Proin porta diam</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h4>Donec quis turpis vel</h4>
                    <ul class="footer-links">
                        <li><a href="#">Proin laoreet volutpat</a></li>
                        <li><a href="#">Aenean tincidunt est</a></li>
                    </ul>
                    <h4>Nulla cursus finibus</h4>
                    <ul class="footer-links">
                        <li><a href="#">Curabitur elementum odio</a></li>
                        <li><a href="#">Proin condimentum ac</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h4>Nullam ut rutrum elit</h4>
                    <ul class="footer-links">
                        <li><a href="#">Praesent gravida</a></li>
                        <li><a href="#">Praesent egestas</a></li>
                    </ul>
                    <h4>Ut eget feugiat ante</h4>
                    <ul class="footer-links">
                        <li><a href="#">Etiam ornare vestibulum</a></li>
                        <li><a href="#">Donec tincidunt tempus</a></li>
                    </ul>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <hr>
            <div class="footer-legal">
                <div class="float-md-right region"><a href="#"><img src="assets/img/united-states-flag.png">United States</a></div>
                <div class="d-inline-block copyright">
                    <p class="d-inline-block">Copyright © 2018. All rights reserved.<br></p>
                </div>
                <div class="d-inline-block legal-links">
                    <div class="d-inline-block item">
                        <h5>Privacy Policy</h5>
                    </div>
                    <div class="d-inline-block item">
                        <h5>Terms of Use</h5>
                    </div>
                    <div class="d-inline-block item">
                        <h5>Legal</h5>
                    </div>
                    <div class="d-inline-block item">
                        <h5>License</h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/-Filterable-Cards-.js"></script>
    <script src="assets/js/creative.js"></script>
    <script src="assets/js/cambiaestadoactive.js"></script>
    <script src="assets/js/Card-Carousel.js"></script>
</body>

</html>