{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

    <section id="banner" class="home-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="home-banner-text">
                        <h6><strong>desde 1956 como departamento en la universidad nacional del sur</strong><br></h6>
                        <h1 class="banner-title"><strong>Educación gratuita y de calidad en carreras de Ingeniería.</strong><br></h1>
                        <p class="header__subtitle" style="color: #373f45;">Una ininterrumpida tarea que ha sido inspirada por quienes de una u otra manera transitaron sus ambientes, enmarcados, claro esta, en el espacio y los tiempos históricos cambiantes de nuestro país y del mundo en las últimas cuatro
                            décadas.&nbsp;<br></p><a class="btn button button-light-blue" role="button" href="index.html">Leer más sobre nosotros !</a></div>
                </div>
                <div class="col-lg-6">
                    <div class="home-banner-imagenes">
                        <div class="row d-md-flex d-xl-flex justify-content-md-center justify-content-xl-end oferta-academica">
                            <div class="col-sm-12 col-md-5 col-lg-5 d-xl-flex align-items-xl-start col-oferta" style="background-image: url(&quot;assets/img/bridge-tower-4446267__340.jpg&quot;);background-repeat: no-repeat;background-size: cover;opacity: 0.85;filter: blur(0px) grayscale(0%);padding-right: 0px;padding-left: 0px;">
                                <h4>Ingeniería Civil</h4>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-5 d-xl-flex align-items-xl-start col-oferta" style="background-image: url(&quot;assets/img/concepto-linea-robotica-fabrica-montaje-automatico-isometrico_33099-166.jpg&quot;);filter: grayscale(0%);background-repeat: no-repeat;background-size: cover;padding-right: 0px;padding-left: 0px;">
                                <h4 style="filter: grayscale(0%) hue-rotate(0deg);">Ingeniería Industrial</h4>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-5 d-xl-flex align-items-xl-start col-oferta" style="background-image: url(&quot;assets/img/pistones-realistas-aislados-sobre-fondo-blanco-equipo-motor-automovil-moto_1441-2508.jpg&quot;);background-repeat: no-repeat;background-size: cover;padding-right: 0px;padding-left: 0px;filter: grayscale(0%);">
                                <h4>Ingeniería Mecánica</h4>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-5 d-xl-flex align-items-xl-start col-oferta" style="background-image: url(&quot;assets/img/image-150nw-1209134110.jpg&quot;);background-repeat: no-repeat;background-size: cover;filter: grayscale(0%);padding-left: 0px;padding-right: 0px;">
                                <h4>Agrimensura</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="eventos" class="bg-blanco">
        <div class="container">
            <h1 class="home-section-title">Eventos<span class="badge badge-secondary">New</span></h1>
            <div class="row">
                <div class="col-lg-4">
                    <a class="eventos-link" href="evento.html">
                        <div class="card eventos">
                            <div class="card-body">
                                <h4 class="card-title">Interiores en Idear</h4><span class="badge badge-primary">12 Octubre, 2019<br></span>
                                <p class="card-text">Presenta "FRENESí": del caos a la calma"</p>
                                <h6 class="text-muted card-subtitle mb-2"><span class="badge badge-secondary categoria-eventos">Docentes</span><span class="badge badge-secondary categoria-eventos"></span><span class="badge badge-secondary categoria-eventos">Capacitación</span><span class="badge badge-secondary categoria-eventos">Posgrado</span>
                                    <span
                                        class="badge badge-secondary categoria-eventos">Idiomas</span>
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="card eventos">
                        <div class="card-body">
                            <h4 class="card-title">Managing Innovation at Spotify</h4><span class="badge badge-primary">01 Octubre, 2019<br></span>
                            <p class="card-text">Vení a participar de las charlas informativas, abiertas y gratuitas, y conocé todo sobre las carreras que más te interesan.<br></p>
                            <h6 class="text-muted card-subtitle mb-2"><span class="badge badge-secondary categoria-eventos">Docentes</span><span class="badge badge-secondary categoria-eventos"></span><span class="badge badge-secondary categoria-eventos">Capacitación</span><span class="badge badge-secondary categoria-eventos">Posgrado</span>
                                <span
                                    class="badge badge-secondary categoria-eventos">Idiomas</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card eventos">
                        <div class="card-body">
                            <h4 class="card-title">Managing Innovation at Spotify</h4><span class="badge badge-primary">01 Octubre, 2019<br></span>
                            <p class="card-text">Vení a participar de las charlas informativas.<br></p>
                            <h6 class="text-muted card-subtitle mb-2"><span class="badge badge-secondary categoria-eventos">Docentes</span><span class="badge badge-secondary categoria-eventos"></span><span class="badge badge-secondary categoria-eventos">Capacitación</span><span class="badge badge-secondary categoria-eventos">Posgrado</span>
                                <span
                                    class="badge badge-secondary categoria-eventos">Idiomas</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card eventos">
                        <div class="card-body">
                            <h4 class="card-title">Managing Innovation at Spotify</h4><span class="badge badge-primary">01 Octubre, 2019<br></span>
                            <p class="card-text">Vení a participar de las charlas informativas, abiertas y gratuitas, y conocé todo sobre las carreras que más te interesan.<br></p>
                            <h6 class="text-muted card-subtitle mb-2"><span class="badge badge-secondary categoria-eventos">Docentes</span><span class="badge badge-secondary categoria-eventos"></span><span class="badge badge-secondary categoria-eventos">Capacitación</span><span class="badge badge-secondary categoria-eventos">Posgrado</span>
                                <span
                                    class="badge badge-secondary categoria-eventos">Idiomas</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card eventos">
                        <div class="card-body">
                            <h4 class="card-title">Managing Innovation at Spotify</h4><span class="badge badge-primary">01 Octubre, 2019<br></span>
                            <p class="card-text">Vení a participar de las charlas informativas, abiertas y gratuitas, y conocé todo sobre las carreras que más te interesan.<br></p>
                            <h6 class="text-muted card-subtitle mb-2"><span class="badge badge-secondary categoria-eventos">Docentes</span><span class="badge badge-secondary categoria-eventos"></span><span class="badge badge-secondary categoria-eventos">Capacitación</span><span class="badge badge-secondary categoria-eventos">Posgrado</span>
                                <span
                                    class="badge badge-secondary categoria-eventos">Idiomas</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card eventos">
                        <div class="card-body">
                            <h4 class="card-title">Managing Innovation at Spotify</h4><span class="badge badge-primary">01 Octubre, 2019<br></span>
                            <p class="card-text">Vení a participar de las charlas informativas, abiertas y gratuitas, y conocé todo sobre las carreras que más te interesan.<br></p>
                            <h6 class="text-muted card-subtitle mb-2"><span class="badge badge-secondary categoria-eventos">Docentes</span><span class="badge badge-secondary categoria-eventos"></span><span class="badge badge-secondary categoria-eventos">Capacitación</span><span class="badge badge-secondary categoria-eventos">Posgrado</span>
                                <span
                                    class="badge badge-secondary categoria-eventos">Idiomas</span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 bg-gris">
        <h1 class="text-center">Noticias</h1>
        <div class="container">
            <div class="filtr-controls text-center lead text-uppercase mb-3"><span class="spinner-grow" role="status"></span><span class="active d-inline-block mx-3 py-1 position-relative" data-filter="all">todos</span><span class="d-inline-block mx-3 py-1 position-relative" data-filter="1">curso</span><span class="d-inline-block mx-3 py-1 position-relative"
                    data-filter="2">seminario</span><span class="d-inline-block mx-3 py-1 position-relative" data-filter="3">posgrado</span></div>
            <div class="row filtr-container">
                <div class="col-md-6 col-lg-4 filtr-item" data-category="2,3">
                    <div class="card border-dark">
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Taller Gestión Administrativa en Obras Públicas</h5>
                        </div><img class="img-fluid card-img w-100 d-block rounded-0" src="assets/img/particulas-arte-geometrico-linea-punto-ingenieria_31941-119%20(2).jpg' %}">
                        <div class="card-body">
                            <p class="card-text">Para Ingnieros. estudiantes de Ingeniería y profesionales afines a la Obra Pública.</p>
                        </div>
                        <div class="d-flex card-footer"><button class="btn btn-dark btn-sm" type="button"><i class="fa fa-eye"></i>&nbsp;Ver más</button><button class="btn btn-outline-dark btn-sm ml-auto" type="button"><i class="fa fa-plus"></i>&nbsp;Button 2</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 filtr-item" data-category="1,3">
                    <div class="card border-dark">
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Cátedra Superior de Lengua Italiana</h5>
                        </div><img class="img-fluid card-img w-100 d-block rounded-0" src="% static 'core/assets/img/Curso%20de%20Lengua%20iataliana.png' %}">
                        <div class="card-body">
                            <p class="card-text">Nivel B2 ( Según el cuadro común Europeo de referencia para las lenguas.<br></p>
                        </div>
                        <div class="d-flex card-footer"><button class="btn btn-dark btn-sm" type="button"><i class="fa fa-eye"></i>&nbsp;Button 1</button><button class="btn btn-outline-dark btn-sm ml-auto" type="button"><i class="fa fa-plus"></i>&nbsp;Button 2</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 filtr-item" data-category="2,3">
                    <div class="card border-dark">
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Lorem Ipsum</h5>
                        </div><img class="img-fluid card-img w-100 d-block rounded-0" src="assets/img/th-03.jpg' %}">
                        <div class="card-body">
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Observantes habitu ignoti conspiratione poterant homines formido cognita malorum conpluribus peragranter divites fingerent poterant peragranter.<br></p>
                        </div>
                        <div class="d-flex card-footer"><button class="btn btn-dark btn-sm" type="button"><i class="fa fa-eye"></i>&nbsp;Button 1</button><button class="btn btn-outline-dark btn-sm ml-auto" type="button"><i class="fa fa-plus"></i>&nbsp;Button 2</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 filtr-item" data-category="3">
                    <div class="card border-dark">
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Lorem Ipsum</h5>
                        </div><img class="img-fluid card-img w-100 d-block rounded-0" src="{% static 'core/assets/img/th-06.jpg' %}">
                        <div class="card-body">
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.&nbsp;Populique et auctoritate cum sint partes regina canities et circumspectum certamina suffragiorum reverenda et set circumspectum temporis auctoritate certamina verecundum
                                quotquot domina per et sint auctoritate sunt omnes ubique redierit.<br></p>
                        </div>
                        <div class="d-flex card-footer"><button class="btn btn-dark btn-sm" type="button"><i class="fa fa-eye"></i>&nbsp;Button 1</button><button class="btn btn-outline-dark btn-sm ml-auto" type="button"><i class="fa fa-plus"></i>&nbsp;Button 2</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 filtr-item" data-category="1,2">
                    <div class="card border-dark">
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Lorem Ipsum</h5>
                        </div><img class="img-fluid card-img w-100 d-block rounded-0" src="{% static 'core/assets/img/th-07.jpg' %}">
                        <div class="card-body">
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Vocis indigna adlocutus prodesse custodiam ut adlocutus commune vita commune.<br></p>
                        </div>
                        <div class="d-flex card-footer"><button class="btn btn-dark btn-sm" type="button"><i class="fa fa-eye"></i>&nbsp;Button 1</button><button class="btn btn-outline-dark btn-sm ml-auto" type="button"><i class="fa fa-plus"></i>&nbsp;Button 2</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 filtr-item" data-category="1,3">
                    <div class="card border-dark">
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Lorem Ipsum</h5>
                        </div><img class="img-fluid card-img w-100 d-block rounded-0" src="{% static 'core/assets/img/th-08.jpg' %}">
                        <div class="card-body">
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.&nbsp;Et admiratio incidere magis eo incidere et forte pauci una admiratio eum Pompeio Q tum dissideret querella et forte una hemicyclio ore illum admiratio hominum is saepe
                                tum magis tum. Et admiratio incidere magis eo incidere et forte pauci una admiratio eum Pompeio Q tum dissideret querella et forte una hemicyclio ore illum admiratio hominum is saepe tum magis tum.<br></p>
                        </div>
                        <div class="d-flex card-footer"><button class="btn btn-dark btn-sm" type="button"><i class="fa fa-eye"></i>&nbsp;Button 1</button><button class="btn btn-outline-dark btn-sm ml-auto" type="button"><i class="fa fa-plus"></i>&nbsp;Button 2</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 filtr-item" data-category="1,3">
                    <div class="card border-dark">
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Lorem Ipsum</h5>
                        </div><img class="img-fluid card-img w-100 d-block rounded-0" src="{% static 'core/assets/img/th-09.jpg' %}">
                        <div class="card-body">
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.&nbsp;Peiores principem Constantium cautela sed cetera et nimia graves cetera modi in titulo causarum infudisset plagas apud sed ut siquid. Invadere tabescebat egressus
                                ullo flagitii per parans per egressus edictus.<br></p>
                        </div>
                        <div class="d-flex card-footer"><button class="btn btn-dark btn-sm" type="button"><i class="fa fa-eye"></i>&nbsp;Button 1</button><button class="btn btn-outline-dark btn-sm ml-auto" type="button"><i class="fa fa-plus"></i>&nbsp;Button 2</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 filtr-item" data-category="3">
                    <div class="card border-dark">
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Lorem Ipsum</h5>
                        </div><img class="img-fluid card-img w-100 d-block rounded-0" src="{% static 'core/assets/img/th-11.jpg' %}">
                        <div class="card-body">
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                        <div class="d-flex card-footer"><button class="btn btn-dark btn-sm" type="button"><i class="fa fa-eye"></i>&nbsp;Button 1</button><button class="btn btn-outline-dark btn-sm ml-auto" type="button"><i class="fa fa-plus"></i>&nbsp;Button 2</button></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 filtr-item" data-category="1">
                    <div class="card border-dark">
                        <div class="card-header bg-dark text-light">
                            <h5 class="m-0">Lorem Ipsum</h5>
                        </div><img class="img-fluid card-img w-100 d-block rounded-0" src="{% static 'core/assets/img/th-12.jpg' %}">
                        <div class="card-body">
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Vocabulis pollicitos statuuntur nominum appellatos statuuntur adminicula omnium ob pollicitos tribunos Eusebius pollicitos sub statuuntur.<br></p>
                        </div>
                        <div class="d-flex card-footer"><button class="btn btn-dark btn-sm" type="button"><i class="fa fa-eye"></i>&nbsp;Button 1</button><button class="btn btn-outline-dark btn-sm ml-auto" type="button"><i class="fa fa-plus"></i>&nbsp;Button 2</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div data-bs-parallax-bg="true" id="parallax1" style="height: 500px;background-image: url(&quot;assets/img/2019-04-26%20-%20FOTOS%20%20Depto%20de%20INGENIERIA_34.JPG&quot;);background-position: center;background-size: cover;background-repeat: no-repeat;"></div>
    <div id="estructura" class="team-boxed bg-gris">
        <div class="container">
            <div class="intro">
                <h1 class="home-section-title">Estructura</h1>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="{% static 'core/assets/img/Santiago320x320.jpg' %}">
                        <h3 class="name">Santiago Maiz</h3>
                        <p class="title">secretario de investigación y extensión</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="{% static 'core/assets/img/Martin%20Serralunga%20procesada.jpg' %}">
                        <h3 class="name">Martín Serralunga</h3>
                        <p class="title">secretario académico</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="{% static 'core/assets/img/Foto%2012-4-19%2010%2036%2002%20(2).jpg' %}">
                        <h3 class="name">Juan Carlos Schefer</h3>
                        <p class="title">sirector decano</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}